header .transparent_nav{

    background-color: rgba(0, 0, 255, 0.7);
}
.nav_bar{

    background-color: rgba(0, 0, 255, 0.7);

}
#nav_list{
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li:hover{
    color: black;
    
}

body {

    background-image: url("img/office.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.cta {

    background-color: red;
    margin-top: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 50px;
    padding-top: 10px;
    padding-right: 20px;
    align-content: center;
}
#cta_text{
    inline-size: auto;
    float: left;
    background-color: transparent;
    padding-left: 10px;
    text-justify: auto;
    box-align: center;
}

#cta_link{
    background-color: royalblue;
    padding: 10px;
    text-align: right;
    float: right;
    color: #FFFFFF;
}

#cta_link:hover {
  background: #E48210;
  color: #FFFFFF;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.services_wrapper{

    background-color: transparent;
}

.recent_work{

    width: 100%;
    background-color: white;
    padding:20px;
    border-radius: 10px;
    

}

.project{

    border-radius: 10px;
}

.project:hover{
    transform: scale(1.5);
    background: #E48210;
    color: #FFFFFF;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}
.testinomials_wrapper{

    background-color: white;
    align-content: center;
}

div{
    background-color: black;
    color: white;
    padding: 20px;
    width:auto;
    height: 30%;
    float: left;
    align-content: center;
}

footer{
    align-content: center;
    background-color: black;
    float: left;
}
.footer{
    text-align: center;
    float: none;
}

.rights{
    color: white;
    width: 100%;
    text-align: center;
}
